#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define win       0
#define no_win    1
#define func      2
#define func2     3
#define btfunc    4

/ {
    keymap {
        compatible = "zmk,keymap";

        win {
            bindings = <
                &kp ESC    &kp N1       &kp N2      &kp N3      &kp N4   &kp N5     &kp N6      &kp N7      &kp N8     &kp N9  	    &kp N0
                &kp TAB    &kp Q        &kp W       &kp E       &kp R    &kp T      &kp Y 	    &kp U       &kp I      &kp O   	    &kp P
                &kp CAPS   &kp A  	    &kp S       &kp D       &kp F    &kp G      &kp H  	    &kp J       &kp K      &kp L   	    &kp BSPC
                &kp LSHFT  &kp Z  	    &kp X       &kp C       &kp V    &kp B      &kp N       &kp M       &kp COMMA  &kp RSHFT 	&kp DEL
                &kp LCTRL  &kp LWIN     &kp LALT  					     &kp SPACE 		        &kp RALT    &kp RCTRL  &mo func		&kp ENTER
            >;
        };
        
        no_win {
            bindings = <
                &kp ESC    &kp N1       &kp N2      &kp N3      &kp N4   &kp N5     &kp N6      &kp N7      &kp N8     &kp N9  	    &kp N0
                &kp TAB    &kp Q        &kp W       &kp E       &kp R    &kp T      &kp Y 	    &kp U       &kp I      &kp O   	    &kp P
                &kp CAPS   &kp A  	    &kp S       &kp D       &kp F    &kp G      &kp H  	    &kp J       &kp K      &kp L   	    &kp BSPC
                &kp LSHFT  &kp Z  	    &kp X       &kp C       &kp V    &kp B      &kp N       &kp M       &kp COMMA  &kp RSHFT 	&kp DEL
                &kp LCTRL  &none        &kp LALT  					     &kp SPACE 		        &kp RALT    &kp RCTRL  &mo func2	&kp ENTER
            >;
        };

        func {
            bindings = <
                &kp ESC    &kp F1       &kp F2      &kp F3	    &kp F4   &kp F5     &kp F6	   &kp F7      &kp F8      &kp F9  	    &kp F10
                &kp GRAVE  &none        &kp UP      &none    	&none    &none      &none 	   &kp LBKT    &kp RBKT    &kp MINUS    &kp EQUAL
                &kp CAPS   &kp LEFT     &kp DOWN    &kp RIGHT	&none    &kp INS    &kp HOME   &kp END     &kp SEMI    &kp APOS   	&kp BSPC
                &kp LSHFT  &none  	    &none       &none    	&none    &none      &none      &none       &kp DOT	   &kp FSLH 	&kp BSLH
                &kp LCTRL  &to no_win   &kp LALT  				         &kp SPACE 		       &kp RALT    &mo btfunc  &trans   	&kp ENTER
            >;
        };
        
        func2 {
            bindings = <
                &kp ESC    &kp F1       &kp F2      &kp F3	    &kp F4   &kp F5     &kp F6	   &kp F7      &kp F8      &kp F9  	    &kp F10
                &kp GRAVE  &none        &kp UP      &none    	&none    &none      &none 	   &kp LBKT    &kp RBKT    &kp MINUS    &kp EQUAL
                &kp CAPS   &kp LEFT     &kp DOWN    &kp RIGHT	&none    &kp INS    &kp HOME   &kp END     &kp SEMI    &kp APOS   	&kp BSPC
                &kp LSHFT  &none  	    &none       &none    	&none    &none      &none      &none       &kp DOT	   &kp FSLH 	&kp BSLH
                &kp LCTRL  &to win      &kp LALT  				         &kp SPACE 		       &kp RALT    &mo btfunc  &trans   	&kp ENTER
            >;
        };


        btfunc {
            bindings = <
                &none        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_PRV &bt BT_NXT &bt BT_CLR &trans  &trans  
                &out OUT_TOG &trans       &trans       &trans       &trans       &trans       &trans     &trans     &trans     &trans  &trans
                &trans       &trans       &trans       &trans       &trans       &trans       &trans     &trans     &trans     &trans  &trans
                &trans       &trans       &trans       &trans       &trans       &trans       &trans     &trans     &trans     &trans  &trans
                &bootloader  &trans       &trans       					         &trans      			 &trans	    &trans     &trans  &trans
            >;
        };
    };
};

/* Keymap layout for http://www.keyboard-layout-editor.com/#/
*

[{ "c" : "#ffffff" },"Esc","1","2","3","4","5","6","7","8","9","0","Back<br>Space"],
["Tab","Q","W","E","R","T","Y","U","I","O","P","Del"],
[{w:1.25},"Caps","A","S","D","F","G","H","J","K","L",{w:1.75},"Enter"],
[{w:1.75},"Shift","Z","X","C","V","B","N","M","<\n,",{w:1.25},"Shift","Fn"],
[{w:1.25},"Ctrl","Win","Alt",{a:7,w:6.25},"",{a:4,w:1.25},"Alt",{w:1.25},"Ctrl"],

[{y:1},"Esc","F1","F2","F3","F4","F5","F6","F7","F8","F9","F10","Back<br>Space"],
["~ <br>`","","UP","","","","","{\n[","}\n]","_\n-","+\n=","|\n\\"],
[{w:1.25},"Caps","LEFT","DOWN","RIGHT","","Insert","Home","End",{a:4},":\n;","\"\n'",{w:1.75},"Enter"],
[{w:1.75},"Shift",{a:7},"","","","","","","",{a:4},">\n.",{w:1.25},"?\n/",{ "c" : "#ff0000" },"Fn",{ "c" : "#ffffff" }],
[{w:1.25},"Ctrl","TOG<br>WIN","Alt",{a:7,w:6.25},"",{a:4,w:1.25},"Alt",{w:1.25},"BT<br>FUNC"],

[{y:1,a:7},"",{a:4},"BT1","BT2","BT3","BT4","BT5","BT<br>PREV","BT<br>NEXT","BT<br>CLR","","",""],
["OUT<br>TOG","","","","","","","","","","",""],
[{w:1.25},"","","","","","","","","","",{w:1.75},""],
[{w:1.75},"","","","","","","","","",{w:1.25},"",{ "c" : "#ff0000" },"Fn",{ "c" : "#ffffff" }],
[{a:4,w:1.25},"BOOT<br>LODR","","",{w:6.25},"",{w:1.25},"",{w:1.25},{ "c" : "#ff0000" },"BOOT<br>FUNC",{ "c" : "#ffffff" }]


*
*/
